body{
    background-color:aquamarine;
}
h1 {
    color: rgb(221, 19, 19);
    text-align: center;
  }

.in{
    text-align: center;
    background-color: beige;
}
#p{
    font-size: 30px;
    font-weight:bold;
}
#height{
    width: 25%;
    padding: 12px 20px ;
}
#weight{
    width: 25%;
    padding: 12px 20px ;
}
#b{
    width:10%;
    text-align: center;
    font-size: large;
    font-weight: bold;
}


